@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*
{
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: #ffffff;
}

.flex100
{
    display: flex;
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

header
{
    z-index: 999;
}

nav
{
    background-color: #3d3d3d;
    display: flex;
    line-height: 50px;
}

#nav-logo
{
    padding: 0 10px;
}

#nav-menu
{
    display: flex;
}

#nav-menu a
{
    padding: 0 10px;
}

nav a
{
    color: #ffffff;
}

nav a:hover
{
    color: #000000;
    background-color: #ffffff;
}

/* Wideo */

#background-video
{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    position: fixed;
    z-index: -999;
}

#item-video
{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
}

/* Wideo */

#slider
{
    width: 100%;
    height: 350px;
    /* background-color: rebeccapurple; */
    position: relative;
    overflow: hidden;
}

.slider-item
{
    position: absolute;
    min-width: 100%;
    height: 350px;
    left: 0;
}

#slid-title-1, #slid-title-2, #slid-title-3
{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    background: none;
    bottom: 0;
    z-index: 2;
    position: absolute;
    font-size: 40px;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.6;
}

/* #slid-title-1
{
    color: #000000;
}

#slid-title-2
{

}

#slid-title-3
{
    color: #ffffff;
} */

main
{
    width: 100%;
    padding: 20px;
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
}

#main-content
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

#main-content section
{
    margin: 100px 0;
}

.button-download
{
    width: 25%;
    padding: 15px 0px;
    border-radius: 30px;
    background-color: #1c74f8;
    text-align: center;
    margin: 0 10px;
}

.button-download:hover
{
    background-color: #5495f5;
}

.offer
{
    display: inline-block;
    text-align: center;
    width: 25%;
}

.offer-circle
{
    border: 2px solid #1c74f8;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    line-height: 70px;
    margin: 0 auto;
}

.offer-number
{
    font-weight: bold;
    font-size: 30px;
}

.offer-title
{
    font-weight: bold;
    padding: 10px;
}

.offer-description
{
    padding: 5px;
}

footer
{
    width: 100%;
    display: block;
    text-align: center;
    background-color: #3d3d3d;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
}