@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*
{
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: #ffffff;
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

header
{

}

nav
{
    background-color: #3d3d3d;
    display: flex;
    line-height: 50px;
}

#nav-logo
{
    padding: 0 10px;
}

#nav-menu
{
    display: flex;
}

#nav-menu a
{
    padding: 0 10px;
}

nav a
{
    color: #ffffff;
}

nav a:hover
{
    color: #000000;
    background-color: #ffffff;
}

#background-video
{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    position: fixed;
    z-index: -999;
}

#item-video
{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
}

main
{
    width: 100%;
    padding: 20px;
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
}

#button-download
{
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #1c74f8;
}

footer
{
    width: 100%;
    display: block;
    text-align: center;
    background-color: #3d3d3d;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
}