@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
}

header
{

}

main
{

}

footer
{
    width: 100%;
    display: block;
    bottom: 0;
    background-color: #979797;
    padding: 5px;
}

footer #footer-copyright
{
    text-align: center;
}

footer #footer-a-href
{
    text-align: center;
}

footer a
{
    text-decoration: none;
    padding: 0 15px;
}